name: PHP tests

on:
  push:
    branches: 
      - master
  pull_request:
    branches: 
      - master
  schedule:
    - cron: '0 0 * * 0,5'

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        phpVersion: ['7.4', '8.1', '8.2']
    runs-on: ubuntu-latest

    steps:
    - name: Setup PHP with specific version of PECL extension
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.phpVersion }}

    # PACKAGIST_TOKEN is a secret scoped to this repo as it's public, it is stored in the AEP/SP - Platform AWS vault as "GitHub Org Secret PACKGIST_TOKEN - sis-sdk-php"
    - name: Setup authentication
      run: |
        composer config --global --auth http-basic.repo.packagist.com token ${{ secrets.PACKGIST_TOKEN }}

    - uses: actions/checkout@v3

    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v3
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress

    - name: Install dependencies
      run: composer show

    - name: Run test suite
      run: vendor/bin/phpunit
